node_modules
.dendron.*
build
seeds
.next
pods/service-connections
.DS_Store
.obsidian
.favorites.json
temp

.gitignore
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

to-orgnize2